<div class="container contact-section">
        <div class="row align-items-center">
            
            <!-- Coluna da Esquerda: Formulário Fale Conosco -->
            <div class="col-12 col-lg-6">
                    <img
              src="./assets/images/contacto.jpeg"
              alt="Edifício do jls"
              class="main-img"
            />
            </div>

            <!-- Coluna da Direita: Informações de Contato -->
            <div class="col-12 col-lg-6">
                <div class="info-container">
                    
                    <!-- Razão Social -->
                    <h3 class="company-name">{{ company.name }}</h3>

                    <!-- Lista de Dados Principais -->
                    <ul class="info-list">
                      
                        <li class="info-item">
                            <i class="fa-solid fa-location-dot"></i>
                            <span>{{ company.address }}</span>
                        </li>
                        <li class="info-item">
                            <i class="fa-solid fa-map-pin"></i>
                            <span>{{ company.cityStateCep }}</span>
                        </li>
                        <li class="info-item">
                            <i class="fa-solid fa-phone"></i>
                            <span>{{ company.phone }}</span>
                        </li>
                           <li class="info-item">
                            <i class="fa-solid fa-envelope"></i>
                            <span>{{ company.email }}</span>
                        </li>
                            <li class="info-item">
                            <i class="fa-solid fa-envelope-open-text"></i>
                            <span>{{ company.email }}</span>
                        </li>
                    </ul>

                    <!-- Horário de Atendimento -->
                    <h4 class="schedule-title">Horário de atendimento:</h4>
                    <ul class="info-list">
                        <li class="info-item" v-for="(schedule, index) in schedules" :key="index">
                            <i class="fa-regular fa-clock"></i>
                            <span>{{ schedule }}</span>
                        </li>
                    </ul>

                </div>
            </div>

        </div>
    </div>